* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open sans', sans-serif;
  position: relative;
  min-height: 100vh;
}
.container {
  padding-bottom: 3.5rem;    /* Footer height */
}

a {
  color: #8c408b;
}
.bullet {
  color: #3B1C3B;
}
.fixed {
  max-width: 1068px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  font-family: 'Montserrat', sans-serif;
  background: #b978b9;
  color: #FFF;
  font-weight: bolder;
  text-align: center;
  max-width: 1068px;
  width: 100%;
  margin: 1rem auto;
  line-height: 1.2;
  font-size: 3em;
  padding: 0.2em;
}
.hero h1 {
  text-transform: lowercase;
}
.hero p {
  font-size: .4em;
  margin: 2em 0;
}
.hero small {
  display: block;
  font-size: .4em;
}

.hero .social-icons a {
  font-size: .4em;
  color: #3B1C3B;
}
.hero .social-icons li {
  margin: 0 0.5rem;
}


.nav {
  background-color: #f9f9f9;
}
.nav.small {
  font-size: 0.9em;
  line-height: 2;
  color: #2f2f2f;
  height: 1.75rem;
}
.nav.big {
  padding: 1rem 0;
}
.nav.small .social-icons {
    justify-content: right;
}
.nav.big .social-icons {
    justify-content: center;
    flex-wrap: wrap;
}
.hero .social-icons {
    justify-content: center;
}


.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.social-icons li{
  margin: 0 0.8em;
}
.social-icons a {
  text-decoration: none;
}
.social-icons a:hover{
  color: black;
}

main {
  margin: 1rem auto;
}

article {
  border-top: 3px solid #b978b9;
  padding: 1rem 0.2em;
  line-height: 1.3;
}
article p {
  margin: 1.2em 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
}


@media only screen and (max-width: 768px) {
  .hero {
    font-size: 11.5vw;
    overflow: hidden;
  }
  .hero .social-icons a,
  .hero p {
    font-size: 0.5em;
  }
}
