* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: #b978b9;
}
table {
  border-spacing: 1.5em;
}


.fixed {
  max-width: 1068px;
  width: 100%;
}
.align-right {
  text-align: right;
}

.top-menu {
  background-color: #f9f9f9;
  font-size: 0.8em;
  line-height: 2;
  color: #2f2f2f;
  height: 1.75rem;
}

.top-menu .fixed {
  margin: 0 auto;
}


header {
  font-family: 'Montserrat', sans-serif;
  background: #b978b9;
  color: #FFF;
  font-weight: bolder;
  text-align: center;
  margin: 1rem auto;
  line-height: 1.2;
  font-size: 4em;
  padding: 0.2em;
}
header h1 {
  text-transform: lowercase;
}
header p {
  font-size: .35em;
  margin: 2em 0;
}
header small {
  display: block;
  font-size: .4em;
}
header .social-icons a {
  font-size: .4em;
  color: purple;
}
header .social-icons li {
  margin: 0;
}

.bullet {
  color: purple;
}

.social-icons li {
  display: inline-block;,
  list-style-type: none;
  margin: 0 0.8em;
}
.social-icons a {
  text-decoration: none;
}
.social-icons.top a {
  color: #2f2f2f;
}

main {
  margin: 1rem auto;
}

article {
  border-top: 3px solid #b978b9;
  padding: 1rem 0.2em;
  line-height: 1.3;
  font-size: 1.2em;
}
article p {
  margin: 1.2em 0;
}

footer {
  text-align: center;
}
footer li {
    margin: 2em;
}



@media only screen and (max-width: 768px) {
  .title-text {
    font-size: 8.5vw;
    overflow: hidden;
  }
}
